---
title: Contact
layout: layouts/base.njk
permalink: /contact/
---

<h1>{{title}}</h1>

<ul>
     {% for item in contact.items %}
     <li><a href="{{ item.link }}">{{ item.name }}</a></li>
     {% endfor %}
 </ul>
