---
title: Work
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 1
---

<p>Your awesome content goes here.</p>

<img class="mt-8" src="/img/example-image.jpg" alt="">
