---
title: Work
layout: layouts/base.njk
permalink: /work/
eleventyNavigation:
  key: Work
  order: 0
---

<p >Your awesome content goes here.</p>

<img class="mt-16" src="https://media.giphy.com/media/T8Dhl1KPyzRqU/source.gif" alt="">
